<h2>Rails project: This file is located at app/views/demo/index.html.erb</h2>

<p><strong>db adapter: </strong> <%= @db_adapter %></p>

<p><strong>db version: </strong> <%= @db_version %></p>

<p><strong>tables: </strong> <%= @tables.inspect %></p>

<h2>This Main Demo</h2>

<ul>
  <li>Demo: <%= link_to("Jets Afterburner Rails Support: Books CRUD Demo", books_path) %></li>
  <li>Blog Post: <a href="https://blog.boltops.com/2018/12/21/jets-afterburner-serverless-rails-on-aws-lambda-in-5-minutes">Jets Afterburner: Serverless Rails on AWS Lambda in 5 Minutes</a></li>
</ul>

<h2>Other Live Jets Demos</h2>

<ul>
  <li><%= link_to("Jets CRUD Demo", "https://demo.rubyonjets.com/") %></li>
  <li><%= link_to("Jets Image Upload Carrierwave Demo: Binary Support", "https://upload.demo.rubyonjets.com/") %></li>
  <li><%= link_to("Mega Mode Demo: Jets and Rails Together", "https://mega.demo.rubyonjets.com/") %></li>
</ul>
